@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
.cl-profileSection__connectedAccounts {
	display: none;
}
.cl-internal-1hp5nqm,
.cl-internal-1dauvpw,
.cl-internal-13u79ez {
	display: none;
}
